-#locals: num_codes_created
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Access Code
      %th Access Code Type
      %th Invite Link
      %th Code Created At
      %th Attendees
  - if num_codes_created > 0
    %tbody
    - codes_used = 0
    - @access_codes.each do |access_code|
      %tr
        %td= access_code.code
        %td= access_code.user_access_code_type.access_code_type.name
        %td
          - eventbrite_event_url = @event.eventbrite_url + '?access=' + access_code.code
          %a{href: eventbrite_event_url, target: '_new'}
            = eventbrite_event_url
        %td= access_code.created_at.strftime("%D %I:%M%p")
        %td
          - if access_code.attendees.length > 0
            - codes_used += 1
            - access_code.attendees.each do |attendee|
              = attendee.name
              - if attendee.email.present?
                =' (' + attendee.email + ')'
              = ' ordered at ' + attendee.ordered_at.strftime("%D %I:%M%p")
              %br
          - else
            (No Attendees have ordered with this access code yet.)
%p
  - if num_codes_created > 0
    - percent = codes_used.to_i / num_codes_created.to_i * 100
    %strong= codes_used
    of you
    %strong= @access_codes.length
    access codes have been used to invite attendees
  - else
    You haven't created any access codes yet.