%h2.title
  Access Codes Dashboard For
  %a{href: @event.eventbrite_url, target: '_new'}
    = @event.title
.description
  %p
    Event starts
    %strong= @event.start_at.strftime("%A, %B %e %l:%M%p")
    and ends
    %strong
      -if @event.start_at.day == @event.end_at.day
        = @event.end_at.strftime("%l:%M%p")
      -else
        = @event.end_at.strftime("%A, %B %e at %l:%M%p")
    \.
  = render partial: 'ticket_types'
  - if @event.description.present?
    %h4 Additional Info
    = raw @event.description

