- model_class = AccessCode
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:code)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @access_codes.each do |access_code|
      %tr
        %td= link_to access_code.id, access_code_path(access_code)
        %td= access_code.user_id
        %td= access_code.code
        %td=l access_code.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_access_code_path(access_code), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), access_code_path(access_code), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_access_code_path, :class => 'btn btn-primary'
