- model_class = AccessCode

.container
  %h1=t '.title', :default =>'Access Codes Dashboard for Too Big'
  %p
    On July 25th, 20Mission is throwing
    %a{href: @eventbrite_event_url, target: '_new'}
      The Too Big For Our (House) Party.
    %ul
      %li
        %a{href: "http://bit.ly/toobigcreator", target: '_new'}
          Event Creators
        and Housemates like yourself are free.
      %li
        Everyone else (including your friends) has to buy tickets via an Access Code on
        %a{href: @eventbrite_event_url, target: '_new'}
          the Eventbrite.
      %li
        Only Event Creators and Housemates can create Access Codes.
      %li
        These Access Codes currently grant access to
        %strong
          $20 Regular Tickets,
        but the price will raise to
        %strong
          $40 Late to the Party Tickets
        soon, so invite your peeps now!
      %li
        Each Access Code can be used for up to
        %strong
          2
        tickets.  So your friend can purchase a ticket for their +1 as well.
  %hr
  - num_codes_created = @access_codes.length
  = render :partial => 'new', :locals => {num_codes_created: num_codes_created}
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Access Code
        %th Invite Link
        %th Code Created At
        %th Attendees
    - if num_codes_created > 0
      %tbody
      - codes_used = 0
      - @access_codes.each do |access_code|
        %tr
          %td= access_code.code
          %td
            - eventbrite_event_url = @eventbrite_event_url + '?access=' + access_code.code
            %a{href: eventbrite_event_url, target: '_new'}
              = eventbrite_event_url
          %td= access_code.created_at.strftime("%D %I:%M%p")
          %td
            - if access_code.attendees.length > 0
              - codes_used += 1
              - access_code.attendees.each do |attendee|
                = attendee.name
                - if attendee.email.present?
                  =' (' + attendee.email + ')'
                = ' ordered at ' + attendee.ordered_at.strftime("%D %I:%M%p")
                %br
            - else
              (No Attendees have ordered with this access code yet.)
  %p
  - if num_codes_created > 0
    - percent = codes_used.to_i / num_codes_created.to_i * 100
    %strong= codes_used
    of your
    %strong= @access_codes.length
    access codes have been used to invite attendees
  - else
    You haven't created any access codes yet.
