- model_class = AccessCode

.container
  %h1=t '.title', :default =>'Access Codes Dashboard for TOO BIG'
  %p
    Instructions be going here. Blah blah blah.
    %a{href: @eventbrite_event_url, target: '_new'}= @eventbrite_event_url
  %hr
  - num_codes_created = @access_codes.length
  = render :partial => 'new', :locals => {num_codes_created: num_codes_created}
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Access Code
        %th Invite Link
        %th Code Created At
        %th Attendees
    - if num_codes_created > 0
      %tbody
      - codes_used = 0
      - @access_codes.each do |access_code|
        %tr
          %td= access_code.code
          %td
            - eventbrite_event_url = @eventbrite_event_url + '?access=' + access_code.code
            %a{href: eventbrite_event_url, target: '_new'}
              = eventbrite_event_url
          %td= access_code.created_at.strftime("%D %I:%M%p")
          %td
            - if access_code.attendees
              - codes_used += 1
              - access_code.attendees.each do |attendee|
                = attendee.name + ' (' + attendee.email + ') ordered at ' + attendee.ordered_at.strftime("%D %I:%M%p")
                %br
            - else
              No Attendees have ordered with this access code yet.
  %p
  - if num_codes_created > 0
    - percent = codes_used.to_i / num_codes_created.to_i * 100
    %strong= codes_used
    of your
    %strong= @access_codes.length
    access codes have been used to invite attendees
  - else
    You haven't created any access codes yet.
